.pageInstitucional {
  .row {
    display: grid;
    grid-template-columns: 1fr;

    @media (min-width: 1025px) {
      grid-template-columns: 55.5rem 1fr;
    }

    &.reverse .title {
      @media (max-width: 1025px) {
        grid-row: 1;
        margin-bottom: 2rem;
      }
    }
  }

  .content {
    position: relative;

    p {
      font-size: 1.8rem;

      @media (min-width: 1025px) {
        font-size: 2.4rem;
        line-height: 3.4rem;
        max-width: 90%;
      }
    }

    &.text-right {
      text-align: left;

      @media (min-width: 1025px) {
        text-align: right;
      }
    }

    @media (min-width: 1025px) {
      &::after {
        content: "";
        position: absolute;
        right: 0;
        top: 10%;
        width: 1px;
        height: 80%;
        background-color: var(--white);
      }
    }
  }

  .title {
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;

    @media (min-width: 1025px) {
      justify-content: flex-end;
    }

    h3 {
      font-size: 3.4rem;
      font-weight: 700;

      @media (min-width: 769px) {
        font-size: 6.4rem;
      }
    }
  }

  .sectionPage {
    display: flex;
    background-color: var(--orange);
    align-items: center;
    color: var(--white);
    padding: 4rem 0;
    background-size: cover;
    background-position: center;

    @media (min-width: 1025px) {
      height: 72rem;
    }
  }

  .localizacao {
    background-image: url("../../img/backgrounds/bg-localizacao.jpg");
  }
}
