.pageWorkWithUs {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr;

    @media (min-width: 768px) {
      min-height: 1044px;
      grid-template-columns: 46% 1fr;
    }

    &::after {
      content: "";
      display: block;
      background-color: var(--orange);
      background-image: url("../../img/backgrounds/bg-work-contact.jpg");
      background-size: cover;
    }

    .content {
      padding: 3rem 2rem;

      @media (min-width: 1025px) {
        padding: 9rem;
      }
    }

    .infoContent {
      margin-bottom: 6rem;

      h2 {
        margin-bottom: 1.6rem;
      }

      p {
        font-size: 2rem;
        line-height: 2.4rem;
        font-weight: 400;
      }
    }

    .form {
      color: var(--dark-500);

      h3 {
        margin-bottom: 3.5rem;
      }

      label {
        display: block;
        width: 1px;
        height: 1px;
        overflow: hidden;
      }

      input {
        border: 1px solid var(--dark-500);
        border-radius: 5rem;
        background: transparent;
        color: var(--white);
        padding: 1rem 2.8rem;
        display: inline-block;
        width: 100%;

        &::placeholder {
          color: var(--dark-500);
          opacity: 1;
        }

        &:hover,
        &:focus {
          outline: none;
          border-color: var(--orange);
          box-shadow: 2px 2px 7px 2px rgba(234, 118, 19, 0.38);
        }
      }

      .formGroup {
        margin-bottom: 2rem;

        .infoLabel {
          font-size: 1.4rem;
          color: var(--dark-300);
          display: block;
          margin-top: 1rem;
        }
      }

      button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem 6rem;
        font-size: 1.4rem;
        width: 100%;
        height: 38px;
        background: var(--orangeGradient);
        color: var(--white);
        box-shadow: 0px 7px 9px rgba(36, 121, 248, 0.1);
        border-radius: 14px;
        transition: var(--transition2s);
        margin-left: auto;

        &:hover {
          transform: scale(0.9);
        }
      }
    }
  }
}
