.pageOurSolutions {
  section + section {
    margin-top: 3.8rem;

    @media (min-width: 1025px) {
      margin-top: 7.8rem;
    }
  }

  header {
    h2 {
      font-size: 4rem;
      color: var(--orange);
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 0.8rem;

      @media (min-width: 1025px) {
        font-size: 4.8rem;
      }
    }

    h3 {
      font-size: 2.4rem;
      font-weight: 500;
      margin-bottom: 2rem;
    }

    p {
      font-size: 1.8rem;
      line-height: 2.6rem;
    }
  }

  .content {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;

    @media (min-width: 1025px) {
      grid-template-columns: 1fr 53%;
    }
  }

  .collapseList li {
    margin-bottom: 1.8rem;
    padding: 1rem 2.6rem 1rem 1rem;

    .collapseContent p {
      font-size: 1.5rem;

      @media (min-width: 1025px) {
        font-size: 1.3rem;
      }
    }
  }
}
