.pageContact {
  .wrapper {
    @media (min-width: 768px) {
      min-height: 1044px;
      grid-template-columns: 1fr 46%;
    }

    &::before {
      content: "";
      display: block;
      background-color: var(--orange);
      background-image: url("../../img/backgrounds/bg-work-contact.jpg");
      background-size: cover;
    }
  }
}
