:root {
  --shadow-light: 3px 3px 7px 1px rgba(3, 3, 3, 0.16);

  --transition2s: all 0.2s ease-in-out;

  --light-gray: #f8f8f8;
  --dark-gray: #4f5e7b;

  --white: #ffffff;

  --dark-300: #4f4f4f;
  --dark-500: #3f3f3f;
  --dark-700: #000000;

  --blue-400: #024576;
  --blue-700: #003d6a;

  --orange: #ea7613;

  --orangeGradient: linear-gradient(90deg, #e97512 43.98%, #f5a058 100%);
}
