<div class="modal-container" data-modal="missao">
  <div class="content">
    <button class="close" data-close>
      <svg
        width="23"
        height="22"
        viewBox="0 0 23 22"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <line
          x1="2.06066"
          y1="1.93934"
          x2="21.0607"
          y2="20.9393"
          stroke="black"
          stroke-width="3"
        />
        <line
          y1="-1.5"
          x2="26.8701"
          y2="-1.5"
          transform="matrix(-0.707107 0.707107 0.707107 0.707107 22 3)"
          stroke="black"
          stroke-width="3"
        />
      </svg>
    </button>

    <header>
      <img
        src="<?php bloginfo('template_url'); ?>/assets/img/icons/icon-missao-title.png"
        alt="icone de missão"
      />
      <h2>MISSÃO</h2>
    </header>

    <p>
      Terceirizar processos e prover soluções que aprimorem o relacionamento dos
      clientes com seus mercados, de modo sustentável e com pessoas felizes.
    </p>
  </div>
</div>

<div class="modal-container" data-modal="visao">
  <div class="content">
    <button class="close" data-close>
      <svg
        width="23"
        height="22"
        viewBox="0 0 23 22"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <line
          x1="2.06066"
          y1="1.93934"
          x2="21.0607"
          y2="20.9393"
          stroke="black"
          stroke-width="3"
        />
        <line
          y1="-1.5"
          x2="26.8701"
          y2="-1.5"
          transform="matrix(-0.707107 0.707107 0.707107 0.707107 22 3)"
          stroke="black"
          stroke-width="3"
        />
      </svg>
    </button>

    <header>
      <img
        src="<?php bloginfo('template_url'); ?>/assets/img/icons/icon-visao-title.png"
        alt="icone de visão"
      />
      <h2>VISÃO</h2>
    </header>

    <p>
      Sair da Recuperação Judicial, com foco na equalização da dívida, aumento
      da carteira de clientes e alcance do EBITDA anual de R$ 20 milhões.
    </p>
  </div>
</div>

<div class="modal-container" data-modal="valores">
  <div class="content valores">
    <button class="close" data-close>
      <svg
        width="23"
        height="22"
        viewBox="0 0 23 22"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <line
          x1="2.06066"
          y1="1.93934"
          x2="21.0607"
          y2="20.9393"
          stroke="black"
          stroke-width="3"
        />
        <line
          y1="-1.5"
          x2="26.8701"
          y2="-1.5"
          transform="matrix(-0.707107 0.707107 0.707107 0.707107 22 3)"
          stroke="black"
          stroke-width="3"
        />
      </svg>
    </button>

    <header>
      <img
        src="<?php bloginfo('template_url'); ?>/assets/img/icons/icon-valores-title.png"
        alt="icone de valores"
      />
      <h2>VALORES</h2>
    </header>

    <ul>
      <li>
        <img
          src="<?php bloginfo('template_url'); ?>/assets/img/icons/icon-respeito.png"
          alt="icone de respeito"
        />
        <span>Respeito às pessoas</span>
      </li>
      <li>
        <img
          src="<?php bloginfo('template_url'); ?>/assets/img/icons/icon-empreendedor.png"
          alt="icone de empreendedor"
        />
        <span>Espírito empreendedor</span>
      </li>
      <li>
        <img
          src="<?php bloginfo('template_url'); ?>/assets/img/icons/icon-entusiasmo.png"
          alt="icone de entusiasmo"
        />
        <span>Entusiasmo</span>
      </li>
      <li>
        <img
          src="<?php bloginfo('template_url'); ?>/assets/img/icons/icon-resiliencia.png"
          alt="icone de resiliencia"
        />
        <span>Resiliência</span>
      </li>
      <li>
        <img
          src="<?php bloginfo('template_url'); ?>/assets/img/icons/icon-respeito-cliente.png"
          alt="icone de Respeito ao cliente"
        />
        <span>Respeito ao cliente</span>
      </li>
      <li>
        <img
          src="<?php bloginfo('template_url'); ?>/assets/img/icons/icon-orientacao.png"
          alt="icone de orientacao"
        />
        <span>Orientação para resultados</span>
      </li>
    </ul>
  </div>
</div>

<div class="modal-container" data-modal="premios">
  <div class="content premios">
    <button class="close" data-close>
      <svg
        width="23"
        height="22"
        viewBox="0 0 23 22"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <line
          x1="2.06066"
          y1="1.93934"
          x2="21.0607"
          y2="20.9393"
          stroke="black"
          stroke-width="3"
        />
        <line
          y1="-1.5"
          x2="26.8701"
          y2="-1.5"
          transform="matrix(-0.707107 0.707107 0.707107 0.707107 22 3)"
          stroke="black"
          stroke-width="3"
        />
      </svg>
    </button>

    <header>
      <img
        src="<?php bloginfo('template_url'); ?>/assets/img/icons/icon-premios-title.png"
        alt="icone de Premios e Certificações"
      />
      <h2>PRÊMIOS E CERTIFICAÇÕES</h2>
    </header>

    <div>
      <img
        src="<?php bloginfo('template_url'); ?>/assets/img/icons/great-place-to-work.png"
        alt="Certificação great place to work"
        class="certificacao"
      />

      <section>
        <h3>Nacionais</h3>

        <ul>
          <li>2018 - GPTW: Melhores empresas para trabalhar - PE.</li>
          <li>2018 - Energisa: Selo Energisa - Qualidade da Gestão.</li>
          <li>
            2017 - Elektro: Prêmio de Gestão da Qualidade - Vertente Pessoas
            (Empresas de grande porte).
          </li>
          <li>2017 - Energisa: Prêmio de Parceiro Estratégico.</li>
          <li>
            2014/2015 - Banco Itaú: Prêmio de Melhor EPS Nacional de
            Telecobrança.
          </li>
          <li>2013 - CELPA: Prêmio de Melhor EPS da CELPA.</li>
          <li>2007/2008/2011/2012/2013: Prêmio Nacional de Telesserviços.</li>
          <li>
            2011 - CEMAR: Prêmio Melhor Empresa Parceira CEMAR - Melhor Evolução
            no Programa PEX, Melhor Equipe Call Center, Melhor Canal de
            Atendimento, Melhor Agência de Atendimento.
          </li>
        </ul>
      </section>

      <section>
        <h3>Internacionais</h3>
        <ul>
          <li>
            2013: 3º lugar Case "Colhendo os Frutos da Maturidade" - Bogotá -
            Colômbia.
          </li>
          <li>
            2008 - II Prêmio Npvare - Endesa Espanha: Prêmio a la Creación de
            Valor, por su papel en los procesos operativos desarrollados em
            Latinoamérica.
          </li>
        </ul>
      </section>

      <section>
        <h3>Certificação GPTW</h3>

        <p>
          Em 2017 o Grupo Provider participou do questionário Trust Index de
          Satisfação do Great Place to Work.
        </p>
        <p>
          Nossos colaboradores de todo o Brasil (selecionados pelo GPTW)
          participaram da Pesquisa, a convite da Elektro (distribuidora de
          energia elétrica).
        </p>
        <p>
          Em novembro de 2018 o Grupo Provider entrou para ranking das melhjores
          empresas para se trabalhar Pernambuco 2018 - Great Place to Work.
        </p>
        <p>Ficamos entre as 5 melhores empresas de grande porte.</p>
      </section>
    </div>
  </div>
</div>
