<div class="modal-container" data-modal="premios">
  <div class="content">
    <button class="close" data-modal="fechar">
      <svg
        width="23"
        height="22"
        viewBox="0 0 23 22"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <line
          x1="2.06066"
          y1="1.93934"
          x2="21.0607"
          y2="20.9393"
          stroke="black"
          stroke-width="3"
        />
        <line
          y1="-1.5"
          x2="26.8701"
          y2="-1.5"
          transform="matrix(-0.707107 0.707107 0.707107 0.707107 22 3)"
          stroke="black"
          stroke-width="3"
        />
      </svg>
    </button>

    <header>
      <h2>MISSÃO</h2>
    </header>

    <p>
      Terceirizar processos e prover soluções que aprimorem o relacionamento dos
      clientes com seus mercados, de modo sustentável e com pessoas felizes.
    </p>
  </div>
</div>
